:root {
    --cor-div-sedans: hsl(31, 77%, 52%);
    --cor-div-suvs: hsl(184, 100%, 22%);
    --cor-div-luxuxy: hsl(179, 100%, 13%);
    --cor-texto-paragrafos: hsla(0, 0%, 100%, 0.75);
    --cor-background-headline-botao: hsl(0, 0%, 95%);

}


